html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
a.navbar-brand {
	padding: 2px 2px!important;
}
ol.flight {
	margin-bottom: 0;
}
ul.flight2 li:before {
	content:"▹ ";
}

.remove-action {
	padding-top: 2px;
	color: #aaa;
}

#login-form input:focus {
	border-color: #ed5a41;
}

#login-form a {
	color: #ed5a41;
}

#login-form button.btn-primary {
	background-color: #ed5a41;
	border-color: #ed5a41;
}

#login-form input[type=checkbox] {
  font-size: 16px;
  position: relative;
  border: 2px solid #ed5a41;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
}

#login-form input[type=checkbox]:active {
  background: -webkit-linear-gradient(
    top, rgba(255,255,255,0.05), rgba(255,255,255,0.2)
  );
}

#login-form input[type=checkbox]:checked::after {
  position: absolute;
  content: '';
  color: #ed5a41;
  left: 15%;
  top: -10%;
  height: 40%;
  width: 90%;
  -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
  -webkit-transform: rotate(-45deg);
}

/* Gridstack Grid and Surface Visualization */
.grid-stack {
	border: 1px dotted lightgrey;
}

.grid-stack-item-content {
    text-align: center;
	border: 1px dotted #ddd;
/*  background-color: lightgrey;*/
}
.grid-stack-item-content .drag {
    display: none;
    cursor: move;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    color: #999;
}

.grid-stack-item-content:hover .drag {
    display: block;
}

.grid-stack-item-content .drag:before {
    content: "\f047";
}

.grid-stack-item-content .drag:hover {
    background-color: #eee;
    color: #999;
}

/* temporary adjustments ADL Jun'16 */
div.weather.widget section.current span.temperature,
div.weather.widget section.hourly div.hour span.temperature {
	color: #9B9B9B;	
}
div.weather.widget header.title h2.name {
	color: #9B9B9B;	
	text-align: left;
}
/* end temporary adjustments ADL Jun'16 */
/* code: css clocks */
#cssclock { height: 135px; }
#clockanalog { background: #012345 url("css-clocks/analog.gif") no-repeat 0 0; float: left; height: 100px; margin: 0; overflow: hidden; position: relative; width: 100px; }
#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { background: #012345 url("css-clocks/digital.gif") no-repeat 162px 99px; float: right; height: 125px; margin: 0; overflow: hidden; padding: 0; position: relative; width: 243px; }
#clockdigital div { background: #012345; height: 44px; position: absolute; width: 243px; }
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { border: 0; display: block; height: 1000px; left: -776px; margin: 0; padding: 0; position: absolute; top: -433px; width: 1000px; }


